.custom-navbar {
  background-color: #343a40; /* Navbar arka plan rengi */
  height: 80px; /* Navbar yüksekliği */
}

.custom-navbar .navbar-brand {
  font-size: 1.75rem; /* Logo ve metin font boyutu */
}

.custom-navbar .nav-link {
  color: #ffffff; /* Menü linklerinin font rengi */
  font-size: 1.2rem; /* Menü linklerinin font boyutu */
}

.custom-navbar .nav-link:hover {
  color: #f8f9fa; /* Menü linklerinin hover durumundaki rengi */
}

.custom-navbar .form-control {
  font-size: 1rem; /* Arama çubuğunun font boyutu */
  border-radius: 10px; /* Arama çubuğunun köşelerinin yuvarlanması */
}

.custom-navbar .search-button {
  font-size: 1.2rem; /* Arama butonunun font boyutu */
  color: #ffffff; /* Buton metninin rengi */
  border-color: #ffffff; /* Buton kenarının rengi */
}

.custom-navbar .search-button:hover {
  background-color: #ffffff; /* Hover durumunda buton arka plan rengi */
  color: #343a40; /* Hover durumunda buton metninin rengi */
}

.custom-navbar .navbar-toggler {
  font-size: 1.5rem; /* Hamburger menü ikonunun font boyutu */
  border-color: #ffffff; /* Hamburger menü ikonunun kenar rengi */
}
.custom-navbar .home-link {
  color: #ffffff !important; /* HOME butonu için beyaz renk */
}

.custom-navbar .home-link:hover {
  color: #f8f9fa !important; /* HOME butonu hover durumunda daha açık bir beyaz */
}
